<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	
  <display-name>Archetype Created Web Application</display-name>
  
  	 <filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>com.ufdouble.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
<!--	<filter>
		<filter-name>sessionUserFilter</filter-name>
		<filter-class>com.ufdouble.filter.SessionUserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sessionUserFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionUserFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	 <servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.ufdouble.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>com.ufdouble.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logout.do</url-pattern>
	</servlet-mapping> -->
	
  	<error-page>
		<error-code>404</error-code>
		<location>/pages/errors/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/pages/errors/500.html</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>/pages/index.jsp</welcome-file>
	</welcome-file-list>
  
    <servlet>
		<servlet-name>ConvertServlet</servlet-name>
		<servlet-class>com.kcfy.platform.server.kernal.servlet.ConvertServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ConvertServlet</servlet-name>
		<url-pattern>/extapi/*</url-pattern>
	</servlet-mapping>
	
</web-app>
